<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link href="@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.cssrel=">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel=" stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
    <title>Gabe's Garden</title>
</head>

<body>
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for messages in messages %}
        <div class="row flashes">
            <h4 class="center-align">{{ message }}</h4>

        </div>
        {% endfor %}
        {% endif %}
        {% endwith%}
    </section>
    <header id="header">
        <a href="#" class="logo">Gabe's Garden</a>
        <ul>
            <li><a class="nav-link" href="{{ url_for('index') }}" onclick="toggle()">Home</a></li>
            <li><a class="nav-link" href="{{ url_for('about') }}" onclick="toggle()">About</a></li>
            <li><a class="nav-link" href="{{ url_for('events') }}" onclick="toggle()">Events</a></li>
            <li><a class="nav-link" href="{{ url_for('register') }}" onclick="toggle()">Register</a></li>
            <li><a class="nav-link" href="{{ url_for('login') }}" onclick="toggle()">Login</a></li>
            <li><a class="nav-link" href="{{ url_for('register') }}" onclick="toggle()">Contact</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>

    </header>

    {% block content %}
    {% endblock %}
    <!-- Contact Forms-->
    <section class="sec contact" id="contact">
        <div class="content">
            <div class="mxw800p">
                <h3>Send Us A Message</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="conactForm">
                <form>
                    <div class="row100">
                        <div class="inputBx50">
                            <input type="text" name="" placeholder="Full Name">
                        </div>
                        <div class="inputBx50">
                            <input type="text" name="" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBx100">
                            <textarea placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBx100">
                            <input type="submit" value="Send" name="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="sci">
                <ul>
                    <li><a href="#"><img src="static/img/facebook.png"></a></li>
                    <li><a href="#"><img src="static/img/twitter.png"></a></li>
                    <li><a href="#"><img src="static/img/linkedin.png"></a></li>
                </ul>
            </div>
            <p class="copyright">Gabe's Garden | Copyright © 2021</p>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>