<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&display=swap">
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
    <title>Gabe's Garden</title>
</head>

<body>
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for messages in messages %}
        <div class="row flashes">
            <h4 class="center-align">{{ message }}</h4>

        </div>
        {% endfor %}
        {% endif %}
        {% endwith%}
    </section>
    <header id="header">
        <a href="#" class="logo">Gabe's Garden</a>
        <ul>
            <li><a class="nav-link" href="{{ url_for('index') }}" onclick="toggle()">Home</a></li>
            <li><a class="nav-link" href="{{ url_for('events') }}" onclick="toggle()">Events</a></li>
            {% if session.user%}
            <li><a class="nav-link" href="{{ url_for('profile', username=session['user']) }}"
                    onclick="toggle()">Profile</a></li>
            <li><a class="nav-link" href="{{ url_for('register_events') }}" onclick="toggle()">Register Event</a>
            </li>
            <li><a class="nav-link" href="{{ url_for('blog') }}" onclick="toggle()">Blog</a></li>
            <li><a class="nav-link" href="{{ url_for('logout') }}" onclick="toggle()">Logout</a></li>
            {% else %}
            <li><a class="nav-link" href="{{ url_for('login') }}" onclick="toggle()">Login</a></li>

            {% endif %}
        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>

    {% block content %}
    {% endblock %}
    <!-- Contact Forms-->
    <section class="sec contact" id="contact">
        <div class="content">
            <div class="mxw800p">
                <h3>Send Us A Message</h3>
                <p>We would love to hear from you! Contact Us.</p>
            </div>
            <div class="contactForm">
                <form>
                    <div class="row100">
                        <div class="inputBx50">
                            <input type="text" name="name" placeholder="Full Name">
                        </div>
                        <div class="inputBx50">
                            <input type="text" name="email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBx100">
                            <textarea placeholder="Message" name="message"></textarea>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBx100">
                            <input type="submit" value="Send" name="submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="sci">
                <ul>
                    <li><a href="https://www.facebook.com"><img src="/static/img/facebook.png" alt="facebook"></a></li>
                    <li><a href="https://www.twitter.com"><img src="/static/img/twitter.png" alt="twitter"></a></li>
                    <li><a href="https://www.instagram.com"><img src="/static/img/linkedin.png" alt="linkedin"></a></li>
                </ul>
            </div>
            <p class="copyright">Gabe's Garden | Copyright © 2021</p>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>