{% extends "base.html" %}
{% block content %}


{% for event in events %}
{{ event.event_name }}<br>
{{ event.category_name }}<br>
{{ event.description }}<br>
{{ event.date }}<br>
{% endfor %}
<section class="banner-5" id="register"></section>
<div class="spacer">
    &nbsp;
</div>

<div class="wrapper">
    <div class="cards_wrap">
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/volunteer.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Volunteer
                    </div>
                    <div class="card_info">
                        <p class="title">10 Best Things about Travel</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
                        </p>
                    </div>
                    <div class="card_creator">
                        By Alex Kato
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/storytime.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Storytime in the garden
                    </div>
                    <div class="card_info">
                        <p class="title">10 Best Things about Travel</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
                        </p>
                    </div>
                    <div class="card_creator">
                        By Alex Kato
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/planter-box.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Regenerative Farming
                    </div>
                    <div class="card_info">
                        <p class="title">10 Best Things about Travel</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
                        </p>
                    </div>
                    <div class="card_creator">
                        By Alex Kato
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/water.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Water Conservation
                    </div>
                    <div class="card_info">
                        <p class="title">10 Best Things about Travel</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
                        </p>
                    </div>
                    <div class="card_creator">
                        By Alex Kato
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/garden-party.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Celebrate With Us
                    </div>
                    <div class="card_info">
                        <p class="title">10 Best Things about Travel</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
                        </p>
                    </div>
                    <div class="card_creator">
                        By Alex Kato
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/cooking.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Farm-To-Table
                    </div>
                    <div class="card_info">
                        <p class="title">10 Best Things about Travel</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
                        </p>
                    </div>
                    <div class="card_creator">
                        By Alex Kato
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/tomatoes.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Best Growing Practices
                    </div>
                    <div class="card_info">
                        <p class="title">10 Best Things about Travel</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
                        </p>
                    </div>
                    <div class="card_creator">
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/yoga.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Yoga At The Garden
                    </div>
                    <div class="card_info">
                        <p class="title">10 Best Things about Travel</p>
                        <p>
                            Saturdays and Wednesdays.
                        </p>
                        <button class="button button1">Register</button>
                    </div>
                    <div class="card_creator">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}