{% extends "base.html" %}
{% block content %}


{% for event in events %}
{{ event.event_name }}<br>
{{ event.category_name }}<br>
{{ event.description }}<br>
{{ event.date }}<br>
{% endfor %}
<section class="banner-5" id="register"></section>
<div class="spacer">
    &nbsp;
</div>

<div class="wrapper">
    <div class="cards_wrap">
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/volunteer.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Volunteer
                    </div>
                    <div class="card_info">
                        <p class="title">Volunteer With Us</p>
                        <p>
                            Everyday.
                        </p>
                        <button class="button button1" name="">Register</button>
                        <button class="button button1" name="">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/storytime.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Storytime in the garden
                    </div>
                    <div class="card_info">
                        <p class="title">Bring the kids out to the garden.</p>
                        <p>
                            August 02, 2021
                        </p>
                        <button class="button button1" name="">Register</button>
                        <button class="button button1" name="">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/planter-box.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Regenerative Farming
                    </div>
                    <div class="card_info">
                        <p class="title">Regenerative Farming. What is it?</p>
                        <p>
                            August 8, 2021
                            @ 11:00 A.M.
                        </p>
                        <button class="button button1" name="">Register</button>
                        <button class="button button1" name="">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/water.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Water Conservation
                    </div>
                    <div class="card_info">
                        <p class="title">Save ALL the water with us</p>
                        <p>
                            August 11, 2021
                            @ 11:00 P.M.
                        </p>
                        <button class="button button1" name="">Register</button>
                        <button class="button button1" name="">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/garden-party.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Garden Party
                    </div>
                    <div class="card_info">
                        <p class="title">Dance Party in the Garden</p>
                        <p>
                            August 13, 2021
                            @ 3:00 P.M.
                        </p>
                        <button class="button button1" name="">Register</button>
                        <button class="button button1" name="">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/cooking.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Cooking With The Kids
                    </div>
                    <div class="button">
                        <p class="title">Learn To Cook With The Kids</p>
                        <p>
                            August 14, 2021
                            @ 11:00 A.M.
                        </p>
                        <button class="button button1" name="">Register</button>
                        <button class="button button1" name="">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/tomatoes.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Best Growing Practices
                    </div>
                    <div class="card_info">
                        <p class="title">Planting Tips and Tricks</p>
                        <p>
                            August 16, 2021
                            @ 11:00
                        </p>
                        <button class="button button1" name="">Register</button>
                        <button class="button button1" name="">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <div class="card_top">
                    <img src="static/img/yoga.jpg" alt="car" />
                </div>
                <div class="card_bottom">
                    <div class="card_category">
                        Yoga At The Garden
                    </div>
                    <div class="card_info">
                        <p class="title">Balance Mind, Body, and Soul</p>
                        <p>
                            August 17, 2021
                            @9:00 A.M.
                        </p>
                        <button class="button button1" name="">Register</button>
                        <button class="button button1" name="">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}