{% extends "base.html" %}

{% block content %}

<section class="banner" id="home">
    <h2>On A Mission To<br> <span>Change Nutrition</span></h2>

</section>
<section class="sec" id="about">
    <div class="content">
        <div class="mxw800p">
            <h3>Who We Are</h3>
            <p>America is home to some of the world's most unhealthy food. Our food supply is mostly processed,
                full of unhealthy genetically modifed organisms, and is often referred to as frankenfood. Our farms are
                saturated
                in chemicals that cause cancer as a form of pest control. As a result, our nation is seeing
                some of the worst health outcomes in children and adults. Over 40% of America's children suffer
                from chronic illness and cancer is a leading cause of death.<br> <strong>We are here to change
                    that.</strong></p>
        </div>
    </div>
</section>

<section class="sec about" id="services">
    <div class="content">
        <div class="mxw800p">
            <h3>Our Mission</h3>
            <p>The dream we want to create is to see schools implement their own farms to grow the majority of their own
                food with natural methods.
                This seems monumental task but with the help of community and the kids, we should be able to accomplish
                this giant but worthwhile, dream.
        </div>
        <div class="services">
            <div class="box">
                <div class="iconBX" alt="1">
                    <img src="static/img/icon1.png">
                    <h2>Dreamers</h2>
                    <p>We are tiny but mighty.
                        Through hard work and dedication, we will turn our
                        dreams into a reality.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="iconBX" alt="2">
                    <img src="static/img/icon2.png">
                    <h2>Creators</h2>
                    <p>What better way to creat is there then by growing your own food?
                        We will create healthy food, healthy kids, and a healthy planet
                        from our sustainable farming practices.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="iconBX" alt="3">
                    <img src="static/img/icon3.png">
                    <h2>World Changers</h2>
                    <p>Our ideals and methods will surely put kids and schools on course to
                        not only change nutrition, but ultimately change the world.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec stats">
    <div class="content">
        <div class="mxw800p">
            <h3>Turning Dreams Into Reality</h3>
            <p></p>
        </div>
        <div class="statsBox">
            <div class="box">
                <h2>Dream</h2>
                <h4>Wish</h4>
            </div>
            <div class="box">
                <h2>Believe</h2>
                <h4>Create</h4>
            </div>
            <div class="box">
                <h2>Imagine</h2>
                <h4>Persevere</h4>
            </div>
            <div class="box">
                <h2>Act</h2>
                <h4>Achieve</h4>
            </div>
        </div>
    </div>
</section>
<!--Works-->
<section class="sec work" id="portfolio">
    <div class="content">
        <div class="mxw800p">
            <h3>Upcoming Garden Events</h3>
            <p>Come see us at Gabe's Garden.</p>
        </div>
        <div class="workBx">
            <div class="brand">
                <a href="{{ url_for('events') }}">
                    <h2>Volunteer</h2>
                </a>
            </div>
            <div class="brand">
                <a href="{{ url_for('events') }}">
                    <h2>Story Time</h2>
                </a>
            </div>
            <div class="brand">
                <a href="{{ url_for('events') }}">
                    <h2>Classes</h2>
                </a>
            </div>
            <div class="brand">
                <a href="{{ url_for('events') }}">
                    <h2>Parties</h2>
                </a>
            </div>
        </div>
    </div>
</section>
<!--Team Section-->
<section class="sec" id="team">
    <div class="content">
        <div class="mxw800p">
            <h3>The Team</h3>
            <p>Don't let their size fool you. The kdis are working hard to change the future</p>
        </div>
        <div class="teamBx">
            <div class="member">
                <div class="imgBx">
                    <img src="static/img/gabe4.jpg" alt="">
                </div>
                <div class="details">
                    <div>
                        <h2>Gabe<br><span>Creative Director</span></h2>
                    </div>
                </div>
            </div>
            <div class="member">
                <div class="imgBx">
                    <img src="static/img/cherry.jpg" alt="">
                </div>
                <div class="details">
                    <div>
                        <h2>Layla<br><span>Mover & Shaker</span></h2>
                    </div>
                </div>
            </div>
            <div class="member">
                <div class="imgBx">
                    <img src="static/img/leader.jpg" alt="">
                </div>
                <div class="details">
                    <div>
                        <h2>Stefani<br><span>#Boss Babe</span></h2>
                    </div>
                </div>
            </div>
            <div class="member">
                <div class="imgBx">
                    <img src="static/img/ambitious.jpg" alt="">
                </div>
                <div class="details">
                    <div>
                        <h2>Kiera<br><span>Inspirational Lead</span></h2>
                    </div>
                </div>
            </div>
</section>
{% endblock %}